<h1 class="centered Fancy">Dashboard</h1>
<div id="default">
  <h2 id="default-message">This is the Inventory System</h2>
  <p>
    There is 6 items defined in the system.
  </p>
  <p>The <span id="average" class="avg">average</span> price of each item is $33.53.</p>
</div>
<div>
  <p id="average" class="avb">The average is the sum divided by the count.</p>
</div>
<script>
    var SalesItem = $('table#myTable tr:last').index() + 1;
    SalesItem.count()
    document.getElementById('SalesItem').innerHTML = SalesItem;
</script>

<div id="SalesItem"></div>