// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avg{font-weight:bold;color:blue;text-decoration:underline}
h1.centered{text-align:center}
h1.Fancy{color:darkgreen;text-decoration:underline}
div#default{text-align:center;margin-left:auto;margin-right:auto;border:1px solid blue;width:40%;padding:10px}
#default:hover ~ div > #average
{
  display: block;
  text-align:center;
  font-size:14pt;
  color:green
}

p.avb{text-align:center;font-size:14pt;color:#ffffff}
